
/* MAIN BODY */

    body {    
        background: linear-gradient(0deg, rgba(104, 102, 103, 0.35), rgba(104, 102, 103, 0.35)), url('../images/pic1.jpeg') no-repeat center fixed;     
        background-size: cover;
    }


/* HOME.JS & SHARED STYLING */

    .greetingContainer {
        background:rgba(104, 102, 103, 0.55);
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        margin: 0 auto;
    }

    .homeGreeting {
        font-weight: bold;
        animation-name: changeColors;
        animation-duration: 15s;   
        animation-iteration-count: infinite;
    }

    @keyframes changeColors {
        0% {color: whitesmoke;}
        25% {color: rgb(226, 90, 183);}
        50% {color: gold;}
        75% {color: rgb(201, 159, 250);}
        100% {color: whitesmoke;}
    }

    .homeGreetingMsg {
        text-align: center;
        font-weight: bold;
        color: whitesmoke;
    }

    .alertUserMsg {
        background:rgba(104, 102, 103, 0.55);
        font-size: 1.4em;
        font-weight: bold;
        color: white;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

 /*    .border-gradient {
        border: 10px solid;
        border-image-slice: 1;
        border-width: 2px;
    } 
    
    .border-gradient-purple {
        border-image-source: linear-gradient(122deg, rgba(148,17,137,1) 5%, rgba(31,147,125,1) 31%, rgba(10,110,237,1) 61%, rgba(240,205,11,1) 71%, rgba(31,147,125,0.9612219887955182) 80%, rgba(148,17,137,1) 97%);
    } */



/* LOGIN.JS    REGISTER.JS   RESETPw.JS */

    .links {
        color: whitesmoke;
        font-weight: bold;
        font-size: 1.2em;
    }

    .links:hover {
        color: cyan;
    }

    .loginRegTitle {
        color: whitesmoke;
        font-weight: bold;
        text-decoration: underline;
        letter-spacing: 0.33em;
    }

    .formLabels {
        color: gold;
        font-weight: bold;
        background:rgba(104, 102, 103, 0.65);
    }

    .regTxtMuted {
        color: white;
    }

    .resetPwTitle {
        color: whitesmoke;
        font-weight: bold;
        text-decoration: underline;
        letter-spacing: 0.33em; 
    }



/* LOGOUT.JS */

    .logoutContainer{
        background:rgba(104, 102, 103, 0.65); 
        padding: 1em 1em; 
    }

    .logoutMsg {
        color: whitesmoke;
        font-size: 3em;
    }



/* ALL MEDIA QUERIES */

    /* Keeps things aligned/sized properly at diff breakpoints */
        @media screen and (min-width: 320px) 
            {
                .greetingContainer {
                    margin-top: 0.5em;
                } 
                .homeGreeting {
                    font-size: 3em;
                }
                .homeGreetingMsg {
                    font-size: 1em;
                }
                .alertUserMsg {
                    width: 13em;
                    text-align: center;
                }
                .registerBtn {
                    margin-top: 1em;
                }
                .loginRegTitle {
                    font-size: 1.85em;  
                }
                .formLabels {
                    font-size: 1.3em;    
                }
                .resetPwTitle {
                    font-size: 1.85em;
                    text-align: center;
                }
                .logoutContainer{
                    margin-top: 3em;
                }
            }
        
        @media screen and (min-width: 400px) 
            { 
                .alertUserMsg {
                    width: 17.8em;
                    text-align: center;
                }
                .logoutContainer{
                    margin-top: 4em;
                }
            }

        @media screen and (min-width: 576px) 
            { 
                .greetingContainer {
                    margin-top: 1.5em;
                }
                .homeGreeting {
                    font-size: 4.25em;
                }
                .homeGreetingMsg {
                    font-size: 1.2em;
                }
                .alertUserMsg {
                    width: 25em;
                    text-align: center;
                }
                .loginRegTitle {
                    font-size: 2.25em;  
                }
                .resetPwTitle {
                    font-size: 2.25em;
                }
                .logoutContainer{
                    margin-top: 4.25em;
                }
            }
        
        @media screen and (min-width: 768px) 
            { 
                .greetingContainer{
                    margin-top: 1.5em;
                } 
                .homeGreeting {
                    font-size: 5.25em;
                }
                .homeGreetingMsg {
                    font-size: 1.35em;
                }
                .alertUserMsg {
                    width: 30em;
                    text-align: center;
                }
                .loginRegTitle {
                    font-size: 2.75em;  
                }
                .formLabels {
                    font-size: 1.45em;    
                }
                .resetPwTitle {
                    font-size: 2.75em;
                }
                .logoutContainer{
                    margin-top: 4.5em;
                }
            }

        @media screen and (min-width: 996px) 
            { 
                .registerBtn {
                    margin-top: 3.1em;
                }
            }

            @media screen and (min-width: 1200px) 
            { 
                .greetingContainer{
                    margin-top: 2.5em;
                } 
                .homeGreeting {
                    font-size: 6.5em;
                }
                .homeGreetingMsg {
                    font-size: 1.5em;
                }
                .loginRegTitle {
                    font-size: 3em;  
                }
                .formLabels {
                    font-size: 1.75em;    
                }
                .resetPwTitle {
                    font-size: 3em;
                }
                .logoutContainer{
                    margin-top: 5em;
                }
            }
